body {
    text-align: center;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 20%;
}

#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

#bio {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}



#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Lobster', cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: 'Lobster', cursive;
}




p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}

.parallax-inner {

    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}



html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
}

.article:hover {
    color: fuchsia;
}

#work {
    width: 100%;
    height: 800px;
    background-color: lightgreen;

}

#apps {
    width: 100%;
    height: 800px;
    background-color: lightcoral;
}

#games {
    width: 100%;
    height: 400px;
    background-color: lightseagreen;
}

#art {
    width: 100%;
    height: 400px;
    background-color: violet;
}

#chatbot {
    width: 100%;
    height: 600px;
    background-color: lemonchiffon;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999
}

#videos iframe {
    width: 80%;
}
